.body {
	width: 100%;
	height: 100%;
	padding: $uni-spacing-col-base $uni-spacing-row-base;
	box-sizing: border-box;
	position: relative;
	left: 0;
	right: 0;
}

.bg {
	width: 100%;
	height: 100%;
	z-index: -1;
	position: absolute;
}

.bg-img {
	width: 100%;
	height: 100%;
	z-index: -1;
	position: absolute;
}

.bg-blur {
	width: 100%;
	height: 100%;
	backdrop-filter: blur(100px);
	position: absolute;
}

.bg-white {
	width: 100%;
	height: 100%;
	background-color: #fff;
	position: absolute;
	opacity: 80%;
}


image {
	width: 100%;
	height: 100%;
}